<h1>Flatiron</h1>
<h2>Team: <%= @team_name %></h2>
<h2>Team Motto: <%= @team_motto %></h2>
<br>
<% @team_members.each do |hero| %>

<h3>Hero Name: <%= hero["name"] %></h3>
<p>Hero Power: <%= hero["power"] %><br />
Hero Biography: <%= hero["bio"] %></p>
<% end %>